.front
	.front-logo-horizontal
		#center
			= image_tag "frontend/derna-logo.png", class: "front-logo img-responsive"
			%iframe{:frameborder => "no", :height => "166", :scrolling => "no", :src => "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/218675438&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_comments=true&amp;show_user=true&amp;show_reposts=false", :width => "100%"}
	.front-container.carrucel	
		- [1,2,3].each do |num|
			%div.item
				.image{id: "derna-#{num}"}
					- if num == 1
						.band
							= image_tag "frontend/derna-band.png", class: "img-responsive"
	.front-footer.navbar-fixed-bottom
		%ul.front-social
			- [["twitter", "http://www.twitter.com/dernaoficial"], ["facebook", "https://www.facebook.com/pages/Derna-Oficial/410914905769507?fref=ts"], ["instagram", "https://instagram.com/dernaoficial"], ["youtube-play", "https://www.youtube.com/channel/UCprWOVjtKGmvPKCXsBXAang"], ["soundcloud", "https://soundcloud.com/dernaoficial"]].each do |social|
				%li
					%a{href: "#{social.second}", target:"_blank", id: "#{social.first}"}
						%i.fa{class: "fa-#{social.first}"}
			%li.ul-contact contacto@dernamusica.com
		%center
			%span contacto@dernamusica.com

:javascript
	$(document).ready(function(){
		$('.carrucel').slick({
			autoplay: true,
			pauseOnHover: false,
			autoplaySpeed: 5000,
			fade: true,
			cssEase: 'linear'
		});
	});