%head
	%meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
	%title= content_for?(:title) ? yield(:title) : 'Derna Oficial'
	%meta{:name => "description", :content => "Derna es una banda de rock-pop formada en el año 2000 por Juan Medici, Billy Sarmiento, Víctor Leon, Brahmanan Ji Velázquez, Rodolfo Tigrera, Simon Núñez y Jose Daniel Gonzalez. Con letras que invitan a soñar, cargadas de energía en cada acorde que suena en sus guitarras y que su línea de metales utiliza para crear el acorde perfecto."}
	= stylesheet_link_tag 'frontend/application', media: 'all', 'data-turbolinks-track' => true
	= javascript_include_tag 'frontend/application', 'data-turbolinks-track' => true
	= render 'layouts/frontend/google_analytics'
	= favicon_link_tag "frontend/icon.png"
	= csrf_meta_tags