// Place all the styles related to the frontend controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
//gitlab
@import url(http://fonts.googleapis.com/css?family=Roboto:300);

html, body, main{
	height: 100%;
}


.front{
	height: 100%;
	.front-container{
		height: 90%;
		.item{
			height: 100%;
			.image{		
				height: 100%;
				width: 100%;
				background:{
					size: cover;
					position: center;
				}
				@media #{$phone-landscape} {
					background:{
						size: cover;
						position: 0% 100%;
					}
				}
			} 
			@each $num in 1, 2, 3 {
			  #derna-#{$num} {
			    background-image: url(derna#{$num}.jpg);
			  }
			}	

			.band{
				position: absolute;
				bottom: -30px;
				width: 100%;
				@media #{$phone-landscape}{
					display: none;
				}
				@media #{$phone} {
					bottom: 0px;
				}
				img{
					width: 50%;
					@media #{$phone} {
						width: 100%;
					}
				}			
			}

		}		
		.slick-list{
			height: 100% !important;
		}
		.slick-track{
			height: 100% !important;
		}
		.slick-arrow{
		   display:none !important;
		}

	}
	.front-logo-horizontal{
		height: 85%;
		width: 100%;
		position: absolute;
		z-index: 99998;
		#center {
			position: absolute;
			top:-360px;
			left:0;
			right:0;
			bottom:0;
			margin: auto;
			height: 100px;
			width: 35%;
			@media #{$desktop} {
				width: 35%;
			}
			@media #{$tablet} {
				width: 50%;
			}
			@media #{$tablet-landscape} {
				width: 40%;
			}
			@media #{$phone-landscape} {
				width: 80%;
				top:-65px;
			}
			@media #{$phone} {
				width: 90%;
				top:-100px;
			}
		}
		.front-logo{
			width: 300px;
			margin-bottom: 50px;
			@media #{$phone} {
				margin-bottom: 20px;
			}
			@media #{$phone-landscape} {
				display: none;
			}
		}
		.front-soundcloud{
			width: 100%;
		}
		@media #{$phone} {
			top: -80px;
			.front-soundcloud{
				width: 100%;
			}
		}
		@media #{$phone-landscape} {
			top: 0px;
			.front-soundcloud{
				width: 100%;
				display: none;
			}
		}
		.front-social{
			margin-top: 30px;
			a, a:hover{						
				color: white;
				font-size: 30px;
			}
		}
				
	}
	.front-footer{
		padding: 15px;
		color:  #828080;
		font-size: 18px;
		width: 100%;
		z-index: 99999;
		background: {
			color: #eae7e7;
		}
		@media #{$phone-landscape}{
			padding: 5px;
			height: 36px;
		}
		span{
			font-family: 'Roboto', sans-serif;
			font-size: 15px;		
			text-align: center;	
			@media #{$phone-landscape}{
				display: none;
			}
		}
		.front-social{
			font-size: 30px;
			width: 100%;
			padding: 0px !important;
			text-align: center;
			@media #{$phone-landscape} {
				font-size: 20px;
				text-align: left;
			}
			li{
				list-style-type: none;
				display: inline;
				margin-right: 10px;
				margin-left: 10px;
			}
			.ul-contact{
				font-family: 'Roboto', sans-serif;
				font-size: 15px;
				padding-top: 3px;
				display: none;		
				float: right;
				@media #{$phone-landscape}{
					display: block;
				}
			}
			a, a:hover{
				color:  #828080;
				text-decoration: none;
			}

			#twitter:hover{
				color: #00aced;
			}
			#facebook:hover{
				color: #3b5998;
			}
			#youtube-play:hover{
				color: #bb0000;
			}
			#instagram:hover{
				color: #517fa4;
			}
			#soundcloud:hover{
				color: #FF8000;
			}
		}
		.brand-logo{
			font-family: 'Patua One', cursive;
			position: relative;
			left: 10px;
			font-size: 20px;
			color: #ffffff
		}
	}
}