#front-navbar{ 
	margin-bottom: 0px;
	font-weight: bold;
	font-size: 14px;
	background-color: #F44336;
	margin-bottom: 0px;
	border-radius: 0px;
	border: none;
	box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.17);
	a{
		color:white;
	}
	.brand-logo{
		font-family: 'Patua One', cursive;
		position: relative;
		left: 10px;
		font-size: 30px;
		color: #ffffff
	}
}